!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title {{ page.title }}
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "/css/gumby.css", :rel => "stylesheet"}/
  %body
    .container
      .site
        .header
          .row.navbar
            .nav
              .one.columns
              %h3.three.columns
                %a kuribone.github.io
              %ul.eight.columns
                %li
                  %a Features
                %li
                  %a Documentation
                  .dropdown
                    %ul
                      %li
                        %a The Grid
                      %li
                        %a UI Kit
                      %li
                        %a Sass
                %li
                  %a Customize
          %h1.title.row
            %a{:href => "/"} {{ site.name }}
        .row
          {{ content }}
        .row
          .footer
            .contact
              %p
                kuribone
            .contact
              %p
                %a{:href => "http://github.com/kuribone/"}
                  github.com/kuribone
                %br
                %a{:href => "http://twitter.com/kuribone/"}
                  twitter.com/kuribone
                %br
