!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title {{ page.title }}
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "/css/gumby.css", :rel => "stylesheet"}/
  %body
    .container
      .site
        .header
          .row.navbar
            %h4.four.columns
              %a menu
            %ul.eight.columns
              %li
                %a Features
              %li
                Documentation
                .dropdown
                  %ul
                    %li The Grid
                    %li UI Kit
                    %li Sass
              %li Customize
          %h1.title
            %a{:href => "/"} {{ site.name }}
          %a.extra{:href => "/"} home
        {{ content }}
        .footer
          .contact
            %p
              Your Name
              %br
              What You Are
              %br
              your@email.com
          .contact
            %p
              %a{:href => "http://github.com/yourusername/"}
                github.com/yourusername
              %br
              %a{:href => "http://twitter.com/yourusername/"}
                twitter.com/yourusername
              %br
